<div class="background-left">

</div>

  <div id="main-container" class="d-flex">
    <div class="background-right">

      <div class="links">
        <p id="link-style" class="text-right text-decoration-none" ><%= link_to "Back to menu", cocktails_path %></p>

        <%= simple_form_for(@cocktail) do |f| %>
          <div class="form-input">
            <%= f.input :name %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: "btn-ghost"%>
          </div>
        <% end %>
      </div>

      <div class="container-content">
        <div class="color-block-content">
          <h1>ADD<br> A<br> DRINK</h1>
        </div>
      </div>

      <div class="color-block-image">
        <%= cl_image_tag "vi7orrhi5axfozzk5iaj", width: 520, height: 250, crop: :fill, alt: "drinks"%>
      </div>
    </div>
  </div>


































<!-- <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">New cocktail</h4>
</div>
<div class="modal-body"> -->
  <!-- *Modal content comes here* -->
<!-- </div>
<div class="modal-footer">
  <button class="btn btn-primary">Save</button>
</div>
 -->








