<div class="background-left-yellow">

</div>

<div id="main-container" class="d-flex">

  <div class="background-right">

    <div class="ingredient-container">
      <div class="cocktail-container">
        <ul class="text-center">
          <% @cocktail.doses.each do |dose| %>
              <div class="cocktail-name">
                <li><%= dose.description %> <%= dose.ingredient.name %> <i class="fas fa-trash"><%= link_to "", dose_path(dose), method: :delete %></i></li>
              </div>
          <% end %>
        </ul>
      </div>

      <div class="link-mt fixed-bottom">
        <p id="link-style" class="text-center text-decoration-none" >
          <%= link_to "Add doses", new_cocktail_dose_path(@cocktail) %> /
          <%= link_to "Back", cocktails_path %>
        </p>
      </div>
    </div>

    <div class="container-content">
      <div class="color-block-content-yellow">
        <h1><%= @cocktail.name.upcase %></h1>
      </div>
    </div>

    <div class="color-block-image-yellow">
      <%= cl_image_tag "vi7orrhi5axfozzk5iaj", width: 520, height: 390, crop: :fill, alt: "drinks"%>
    </div>

  </div>

</div>
